<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>提额认证</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/index.css" />
    <link rel="stylesheet" type="text/css" href="../../libs/css/weui.min.css" />

</head>
<style>
    html,
    body {
        background: #FAFAFA;
        height: 100%;
        overflow: hidden;
    }
    
    .weui_cell_ft {
        font-size: 12px;
        color: rgb(74, 144, 226);
    }
    
    .weui_cell_bd {
        margin-left: 10px;
    }
    
    .weui_dialog {
        border-radius: 5px;
    }
    
    .weui_dialog_bd {
        text-align: center;
    }
    
    .weui_cell {
        padding: 14.5px 15px;
    }
    
    .header {
        background: #fff;
    }
    
    .showloan {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
        overflow-y: auto;
        visibility: hidden;
    }
    
    .title {
        font-size: 12px;
        line-height: 30px;
        margin-left: 10px;
        color: rgb(196, 196, 196);
    }
    
    .weui_cells_access {
        background: #fff;
        overflow: hidden;
    }
    
    .img-cls {
        width: 20px;
        margin-right: 5px;
        display: block;
    }
    
    .desc {
        font-size: 12px;
        color: rgb(196, 196, 196);
        margin-top: 5px;
    }
    
    .font-14 {
        font-size: 14px;
    }
    
    .font-12 {
        font-size: 14px;
    }
    
    .yellow {
        color: #DEA642;
        font-size: 12px;
    }
</style>

<body>
    <div class="mention-page">
        <header class="header">
            <div style="float: left;" class="usera">
                <a href="javascript:history.back()">
                    <img src="../../images/ico_back@2x.png" />
                </a>
            </div>
            <p>提额认证</p>
        </header>
        <div class="showloan">
            <div class="title">以下认证二选一</div>
            <div class="weui_cells_access">
                <a class="weui_cell opt-btn" id="1" :state="isFundAuthed" v-if="isFundAuthed!=4">
                    <div class="weui_cell_hd">
                        <img src="../../images/icon_gjj.png" class="img-cls">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="font-14">公积金认证<span class="yellow font-12">(选填)</span></p>
                        <p class="desc">开户一年以上且近期连续缴纳</p>
                    </div>
                    <div class="weui_cell_ft">
                        <span v-if="isFundAuthed==0">未完善</span>
                        <span v-if="isFundAuthed==1">已填写</span>
                        <span v-if="isFundAuthed==2">已认证</span>
                        <span v-if="isFundAuthed==5">认证中</span>
                        <span v-if="isFundAuthed==6">认证失败</span>
                    </div>
                </a>
                <a class="weui_cell opt-btn" id="2" :state="isBankAuthed" v-if="isBankAuthed!=4">
                    <div class="weui_cell_hd">
                        <img src="../../images/icon_xyk.png" class="img-cls">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="font-14">信用卡认证<span class="yellow font-12">(选填)</span></p>
                        <p class="desc">近期有过信用卡消费记录</p>
                    </div>
                    <div class="weui_cell_ft">
                        <span v-if="isBankAuthed==0">未完善</span>
                        <span v-if="isBankAuthed==1">已填写</span>
                        <span v-if="isBankAuthed==2">已认证</span>
                        <span v-if="isBankAuthed==5">认证中</span>
                        <span v-if="isBankAuthed==6">认证失败</span>
                    </div>
                </a>
            </div>
            <div class="title">以下认证二选一</div>
            <div class="weui_cells_access">
                <a class="weui_cell opt-btn" id="3" :state="isJingdongAuthed" v-if="isJingdongAuthed!=4">
                    <div class="weui_cell_hd">
                        <img src="../../images/icon_jd.png" class="img-cls">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="font-14">京东认证<span class="yellow font-12">(选填)</span></p>
                        <p class="desc">京东认证有助于提高额度</p>
                    </div>
                    <div class="weui_cell_ft">
                        <span v-if="isJingdongAuthed==0">未完善</span>
                        <span v-if="isJingdongAuthed==1">已填写</span>
                        <span v-if="isJingdongAuthed==2">已认证</span>
                        <span v-if="isJingdongAuthed==5">认证中</span>
                        <span v-if="isJingdongAuthed==6">认证失败</span>
                    </div>
                </a>
                <a class="weui_cell opt-btn" id="4" :state="isTaobaoAuthed" v-if="isTaobaoAuthed!=4">
                    <div class="weui_cell_hd">
                        <img src="../../images/icon_tb.png" class="img-cls">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p class="font-14">淘宝认证<span class="yellow font-12">(必填)</span></p>
                        <p class="desc">淘宝认证有助于提高额度</p>
                    </div>
                    <div class="weui_cell_ft">
                        <span v-if="isTaobaoAuthed==0">未完善</span>
                        <span v-if="isTaobaoAuthed==1">已填写</span>
                        <span v-if="isTaobaoAuthed==2">已认证</span>
                        <span v-if="isTaobaoAuthed==5">认证中</span>
                        <span v-if="isTaobaoAuthed==6">认证失败</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
<script src="../../libs/js/jquery-2.1.0.js?v=${project.javascript.version}"></script>
<script src="../../libs/js/jquery.cookie.js?v=${project.javascript.version}"></script>
<script src="../../js/common/loading.js?v=${project.javascript.version}"></script>
<script src="../../js/common/getUserId.js?v=${project.javascript.version}"></script>
<script src="../../js/common/globalConst.js?v=${project.javascript.version}"></script>
<script src="../../js/common/utils.js?v=${project.javascript.version}"></script>
<script src="../../libs/js/vue.js?v=${project.javascript.version}"></script>
<script src="../../libs/js/layer.js?v=${project.javascript.version}"></script>

<script>
    new Vue({
        el: '.mention-page',
        data: {
            isBankAuthed: 0,
            isFundAuthed: 0,
            isJingdongAuthed: 0,
            isTaobaoAuthed: 0
        },
        created() {
            utils.getUserId();
        },
        mounted() {
            this.init();
        },
        methods: {
            init() {
                this.initData();
                this.bindEvent();
            },
            initData() {
                var _self = this;
                utils.fetchData({
                    url: constans.serviceUrl + '/credit/status',
                    type: "post",
                    success: function(result) {
                        if (result.code == 200) {
                            _self.isBankAuthed = result.body.isBankAuthed;
                            _self.isFundAuthed = result.body.isFundAuthed;
                            _self.isJingdongAuthed = result.body.isJingdongAuthed;
                            _self.isTaobaoAuthed = result.body.isTaobaoAuthed;
                            $(".showloan").css({
                                "visibility": "visible"
                            });
                        }
                    }
                })
            },
            bindEvent() {
                // 选项点击事件
                $("body").on("click", ".opt-btn", function() {
                    if ($(this).attr("state") != "2") {
                        var _url = "https://api.51datakey.com/h5/importV3/index.html#/";
                        if (this.id == "1") {
                            _url += "fundlist?userId=" + sessionStorage.getItem("taskId") + "&apiKey=" + constans.apiKey + "&themeColor=F38185&backUrl=" + constans.htmlUrl + "/html/user/fundlist.html";
                        } else if (this.id == "2") {
                            _url += "banklist?userId=" + sessionStorage.getItem("taskId") + "&apiKey=" + constans.apiKey + "&themeColor=F38185&backUrl=" + constans.htmlUrl + "/html/user/banklist.html";
                        } else if (this.id == "3") {
                            _url += "jingdong?userId=" + sessionStorage.getItem("taskId") + "&apiKey=" + constans.apiKey + "&themeColor=F38185&backUrl=" + constans.htmlUrl + "/html/user/jingdong.html";
                        } else {
                            _url += "taobao?userId=" + sessionStorage.getItem("taskId") + "&apiKey=" + constans.apiKey + "&themeColor=F38185&backUrl=" + constans.htmlUrl + "/html/user/taobao.html";
                        }
                        location.href = _url;
                    }
                })
            }
        }
    });
</script>

</html>